body {
  margin: 0;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  --dark-gray: #202020;
  --cream: #e0dcc3;
  --light-cream: #f5f2e1;
  background-color: var(--dark-gray);
  color: var(--cream);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-content {
  padding: 3% 12% 5% 12%;
  min-height: calc(100vh - 140px);
  margin-bottom: -100px;
}

.btn {
  font-size: 24px;
  padding: 15px 20px 15px 20px;
  color: var(--cream);
  border-color: var(--cream);
  border-radius: 0px;
}

.btn:focus {
  box-shadow: none;
}

p {
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.5px;
}

.page-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
}

.page-enter {
  opacity: 0;
}

.page-enter > .footer {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.page-enter-active > .footer {
  opacity: 1;
  transition: opacity 300ms;
  transition-delay: 1s;
}

.from-home-page.page-enter-active {
  transition-delay: 1s;
}

.page-exit {
  opacity: 1;
}

.page-exit > .footer {
  opacity: 1;
}

.page-exit-active > .footer {
  opacity: 0;
  transition: opacity 0s;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.home-page.page-exit > .header-logo-container {
  opacity: 0;
}

.home-page.page-exit-active > .header-logo-container {
  opacity: 1;
  transition: opacity 300ms;
  transition-delay: 1s;
}

.home-page.page-exit-active {
  transition-delay: 1s;
}

.home-page.page-enter > .page-content .home .view-galleries-link {
  opacity: 0;
}

.home-page.page-enter-active > .page-content .home .view-galleries-link {
  opacity: 1;
  transition: opacity 1s;
  transition-delay: 1s;
}

.home-page.page-exit > .page-content .home .view-galleries-link {
  opacity: 1;
}

.home-page.page-exit-active > .page-content .home .view-galleries-link {
  opacity: 0;
  transition: opacity 300ms;
}

.home-page.page-enter > .page-content .home .logo-overlay {
  top: 23px;
  margin-top: 0px;
}

.home-page.page-enter > .page-content .home .logo-overlay .line-1 {
  font-size: 40px;
}

.home-page.page-enter > .page-content .home .logo-overlay .line-2 {
  font-size: 22px;
}

.home-page.page-enter-active > .page-content .home .logo-overlay {
  top: 50%;
  margin-top: -150px;
  transition: top 1s, margin-top 1s;
  transition-timing-function: ease-in-out;
}

.home-page.page-enter-active > .page-content .home .logo-overlay .line-1 {
  font-size: 72px;
  transition: font-size 1s;
  transition-timing-function: ease-in-out;
}

.home-page.page-enter-active > .page-content .home .logo-overlay .line-2 {
  font-size: 40px;
  transition: font-size 1s;
  transition-timing-function: ease-in-out;
}

.home-page.page-exit > .page-content .home .logo-overlay {
  top: 50%;
  margin-top: -150px;
}

.home-page.page-exit > .page-content .home .logo-overlay .line-1 {
  font-size: 72px;
}

.home-page.page-exit > .page-content .home .logo-overlay .line-2 {
  font-size: 40px;
}

.home-page.page-exit-active > .page-content .home .logo-overlay {
  top: 23px;
  margin-top: 0px;
  transition: top 1s, margin-top 1s;
  transition-timing-function: ease-in-out;
}

.home-page.page-exit-active > .page-content .home .logo-overlay .line-1 {
  font-size: 40px;
  transition: font-size 1s;
  transition-timing-function: ease-in-out;
}

.home-page.page-exit-active > .page-content .home .logo-overlay .line-2 {
  font-size: 22px;
  transition: font-size 1s;
  transition-timing-function: ease-in-out;
}

.home-page.page-enter > .navbar-light .navbar-nav .nav-link.logo {
  width: 300px;
  padding: auto;
}

.home-page.page-enter-active > .navbar-light .navbar-nav .nav-link.logo {
  width: 0px;
  padding: 0px;
  transition: width 1s, padding 1s;
  transition-timing-function: ease-in-out;
}

.home-page.page-exit > .navbar-light .navbar-nav .nav-link.logo {
  width: 0px;
  padding: 0px;
}

.home-page.page-exit-active > .navbar-light .navbar-nav .nav-link.logo {
  width: 300px;
  padding: auto;
  transition: width 1s, padding 1s;
  transition-timing-function: ease-in-out;
}

.home-page.page-enter > .navbar-light .navbar-nav .nav-link.link-to-page {
  width: 140px;
}

.home-page.page-enter-active > .navbar-light .navbar-nav .nav-link.link-to-page {
  width: 240px;
  transition: width 1s;
  transition-timing-function: ease-in-out;
}

.home-page.page-exit > .navbar-light .navbar-nav .nav-link.link-to-page {
  width: 240px;
}

.home-page.page-exit-active > .navbar-light .navbar-nav .nav-link.link-to-page {
  width: 140px;
  transition: width 1s;
  transition-timing-function: ease-in-out;
}

@media (hover: hover) {
  .btn:hover {
    color: var(--dark-gray);
    border-color: var(--dark-gray);
    background-color: var(--cream);
  }
}

@media all and (max-width: 991px) {
  .page-content {
    padding: 15% 10% 3% 10%;
    min-height: calc(100vh - 75px);
  }

  .btn {
    font-size: 20px;
    padding: 10px 15px 10px 15px;
  }
  
  .home-page.page-enter > .page-content .home .logo-overlay .line-1 {
    font-size: 30px;
  }
  
  .home-page.page-enter > .page-content .home .logo-overlay .line-2 {
    font-size: 16px;
  }
  
  .home-page.page-enter-active > .page-content .home .logo-overlay .line-1 {
    font-size: 56px;
  }
  
  .home-page.page-enter-active > .page-content .home .logo-overlay .line-2 {
    font-size: 35px;
  }
  
  .home-page.page-exit > .page-content .home .logo-overlay .line-1 {
    font-size: 56px;
  }
  
  .home-page.page-exit > .page-content .home .logo-overlay .line-2 {
    font-size: 35px;
  }
  
  .home-page.page-exit-active > .page-content .home .logo-overlay {
    top: 10px;
    margin-top: 0px;
  }
  
  .home-page.page-exit-active > .page-content .home .logo-overlay .line-1 {
    font-size: 30px;
    transition: font-size 1s;
    transition-timing-function: ease-in-out;
  }
  
  .home-page.page-exit-active > .page-content .home .logo-overlay .line-2 {
    font-size: 16px;
    transition: font-size 1s;
    transition-timing-function: ease-in-out;
  }
}



/*************** NAV BAR **************/

.navbar-light .navbar-nav .nav-link {
  color: var(--cream);
  font-size: 20px;
  width: 140px;
  height: 140px;
  border-bottom: solid 1px transparent;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 5;
}

.navbar-light .navbar-nav .nav-link p {
  transition: .2s;
}

.navbar-light .navbar-nav .nav-link.logo {
  width: 300px;
}

.home-page .navbar-light .navbar-nav .nav-link.logo {
  visibility: hidden;
  width: 0px;
  padding: 0px;
}

.navbar-light .navbar-nav .nav-link.link-to-page.active {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-light .navbar-nav .nav-link.link-to-page p, .navbar-light .navbar-nav .nav-link.link-to-page p {
  border-bottom: solid 1px transparent;
}

.navbar-light .navbar-nav .nav-link.active p {
  color: var(--cream);
  border-bottom: solid 1px var(--cream);
}

.navbar-light .navbar-nav .nav-link:focus {
  color: var(--cream);
}

.navbar-light .navbar-nav .nav-link.logo:hover p, .navbar-light .navbar-nav .nav-link.logo.active p {
  border-bottom: none;
}

.navbar-light .navbar-nav .nav-link.logo .line-1 {
  font-size: 40px;
  margin-bottom: 0px;
  line-height: 1.5;
}

.navbar-light .navbar-nav .nav-link.logo .line-2 {
  font-size: 22px;
  line-height: 1.5;
}

.navbar-light .navbar-toggler {
  color: var(--cream);
  border-color: var(--cream);
  z-index: 3;
}

.navbar-light .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(224,220,195,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler:focus {
  outline: none;
}

.navbar-light .navbar-nav .nav-link.link-to-page {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-page .navbar-light .navbar-nav .nav-link.link-to-page {
  width: 240px;
}

.header-logo-container {
  display: none;
  position: absolute;
  justify-content: center;
  width: 100vw;
  top: 10px;
  z-index: 2;
}

.header-logo {
  width: 200px;
  padding: 0px;
  color: var(--cream);
}

.header-logo .line-1 {
  font-size: 30px;
  margin-bottom: 0px;
  line-height: 1.3;
}

.header-logo .line-2 {
  font-size: 16px;
  line-height: 1.3;
}

@media (hover: hover) {
  .navbar-light .navbar-nav .nav-link:hover p {
    color: var(--cream);
    border-bottom: solid 1px var(--cream);
  }
}

@media all and (max-width: 991px) {
  .navbar {
    padding-top: 16px;
  }

  .navbar-nav {
    margin-top: 12px;
  }

  .navbar-light .navbar-nav .nav-link {
    width: 100px;
    height: 40px;
    justify-content: flex-start;
  }

  .navbar-light .navbar-nav .nav-link p {
    margin-bottom: 0px;
  }

  .header-logo-container {
    display: flex;
  }

  .navbar-light .navbar-nav .nav-link.logo {
    display: none;
  }
}



/*************** FOOTER **************/

.footer-push {
  height: 80px;
}

.footer {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.footer p {
  font-size: 14px;
  margin-bottom: 0px;
}

.footer a {
  color: var(--cream);
  text-decoration: underline;
}



/*************** HOME PAGE **************/

.home {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
  object-position: 100% 50%;
}

.home .view-galleries-link {
  margin-top: 150px;
}

.home .logo-overlay {
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -150px;
}

.home .logo-overlay .line-1 {
  font-size: 72px;
  margin-bottom: 0px;
  line-height: 1.5;
}

.home .logo-overlay .line-2 {
  font-size: 40px;
  line-height: 1.5;
}

@media all and (max-width: 991px) {
  .home .logo-overlay .line-1 {
    font-size: 56px;
    line-height: 1.3;
  }
  
  .home .logo-overlay .line-2 {
    font-size: 35px;
    line-height: 1.3;
  }

  .home .view-galleries-link {
    margin-top: 60px;
  }
}



/*************** ABOUT PAGE **************/

.about {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.about p {
  text-align: left;
  margin-bottom: 25px;
}

.about img {
  width: 400px;
  max-width: 100%;
  float: left;
  margin-right: 50px;
  margin-bottom: 40px;
}

@media all and (max-width: 991px) {
  .about img {
    width: 300px;
  }
}



/*************** GALLERIES PAGE **************/

.galleries .grid {
  margin: 0 auto;
}

.galleries .grid a {
  width: 300px;
  margin: 20px;
  padding: 0px;
  border: solid 1px var(--cream);
  position: relative;
}

.galleries .category-photo {
  width: 100%;
  opacity: 0.5;
}

.galleries .category-name {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cream);
  padding: 25px;
}


@media (hover: hover) {
  .galleries .category-name {
    transition: .2s;
    opacity: 0;
  }

  .galleries .grid a:hover > .category-name {
    opacity: 1;
  }

  .galleries .category-photo {
    transition: .2s;
    opacity: 1;
  }

  .galleries .grid a:hover > .category-photo {
    opacity: 0.5;
  }
}

@media all and (max-width: 991px) {
  .galleries .grid a {
    width: 250px;
    margin: 15px;
  }
}



/*************** GALLERY PAGE **************/

.gallery h1 {
  margin-bottom: 60px;
  margin-top: -20px;
}

.gallery .main-photo-container {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery .photo-index-container {
  padding-bottom: 30px;
}

.gallery .main-photo {
  margin: 25px;
  margin-top: 0px;
  height: 425px;
  width: 475px;
}

.gallery .main-photo img {
  outline: solid 1px var(--cream);
  width: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.gallery .main-photo-details {
  display: flex;
  flex-direction: column;
  margin: 25px;
  margin-top: 0px;
  text-align: left;
  width: 325px;
  height: 425px;
}

.gallery .photo-description {
  height: calc(100% - 40px);
  overflow-y: scroll;
}

.gallery .photo-arrow.disabled {
  opacity: 0.4;
}

.gallery .main-photo-details h2 {
  margin-bottom: 15px;
}

.gallery .grid {
  margin: 0 auto;
}

.gallery .photo-index {
  margin-left: 10px;
  margin-right: 10px;
}

.gallery .grid div {
  width: 200px;
  margin: 15px;
  border: solid 1px var(--cream);
}

.gallery img {
  width: 100%;
}

@media (hover: hover) {
  .gallery .photo-arrow:hover {
    cursor: pointer;
  }

  .gallery .photo-arrow.disabled:hover {
    cursor: default;
  }

  .gallery .grid div:hover {
    cursor: pointer;
  }
}

@media all and (max-width: 1184px) {
  .gallery .main-photo-container {
    padding-bottom: 10px;
  }

  .gallery .main-photo {
    height: auto;
    margin-bottom: 35px;
  }
}

@media all and (max-width: 991px) {
  .gallery h1 {
    margin-bottom: 40px;
  }

  .gallery .main-photo {
    width: 375px;
  }

  .gallery .main-photo-details {
    width: 300px;
  }
}



/*************** CONTACT PAGE **************/

.contact {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.contact input, .contact textarea {
  background-color: var(--cream);
}

.contact .form-control:focus {
  background-color: var(--light-cream);
  border: none;
}
