body {
  margin: 0;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  --dark-gray: #202020;
  --cream: #e0dcc3;
  --light-cream: #f5f2e1;
  background-color: var(--dark-gray);
  color: var(--cream);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-content {
  padding: 3% 12% 8% 12%;
}

.btn {
  font-size: 24px;
  padding: 15px 20px 15px 20px;
  color: var(--cream);
  border-color: var(--cream);
  border-radius: 0px;
}

.btn:hover {
  color: var(--dark-gray);
  border-color: var(--dark-gray);
  background-color: var(--cream);
}

p {
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.5px;
}


/*************** NAV BAR **************/

.navbar-light .navbar-nav .nav-link {
  color: var(--cream);
  font-size: 20px;
  width: 170px;
  height: 140px;
  border-bottom: solid 1px transparent;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navbar-light .navbar-nav .nav-link.logo {
  width: 300px;
}

.navbar-light .navbar-nav .nav-link.link-to-page:hover, .navbar-light .navbar-nav .nav-link.link-to-page.active {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-light .navbar-nav .nav-link.link-to-page p, .navbar-light .navbar-nav .nav-link.link-to-page p {
  border-bottom: solid 1px transparent;
}

.navbar-light .navbar-nav .nav-link:hover p, .navbar-light .navbar-nav .nav-link.active p {
  color: var(--cream);
  border-bottom: solid 1px var(--cream);
}

.navbar-light .navbar-nav .nav-link.logo:hover p, .navbar-light .navbar-nav .nav-link.logo.active p {
  border-bottom: none;
}

.navbar-light .navbar-nav .nav-link.logo .line-1 {
  font-size: 40px;
  margin-bottom: 0px;
  line-height: 1.5;
}

.navbar-light .navbar-nav .nav-link.logo .line-2 {
  font-size: 22px;
  line-height: 1.5;
}


/*************** HOME PAGE **************/

.home {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -1;
}

.home img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
}

.home h1 {
  font-size: 72px;
  margin-bottom: 12px;
}

.home h2 {
  font-size: 40px;
  margin-bottom: 45px;
}


/*************** ABOUT PAGE **************/

.about {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.about p {
  text-align: left;
  margin-bottom: 25px;
}

.about img {
  width: 400px;
  float: left;
  margin-right: 50px;
  margin-bottom: 50px;
}


/*************** CONTACT PAGE **************/

.contact {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.contact input, .contact textarea {
  background-color: var(--cream);
}

.contact .form-control:focus {
  background-color: var(--light-cream);
  border: none;
}
