body {
  margin: 0;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  --dark-gray: #202020;
  --cream: #e0dcc3;
  --light-cream: #f5f2e1;
  background-color: var(--dark-gray);
  color: var(--cream);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-content {
  padding: 3% 12% 8% 12%;
}

.btn {
  font-size: 24px;
  padding: 15px 20px 15px 20px;
  color: var(--cream);
  border-color: var(--cream);
  border-radius: 0px;
}

.btn:focus {
  box-shadow: none;
}

p {
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.5px;
}

@media (hover: hover) {
  .btn:hover {
    color: var(--dark-gray);
    border-color: var(--dark-gray);
    background-color: var(--cream);
  }
}


/*************** NAV BAR **************/

.navbar-light .navbar-nav .nav-link {
  color: var(--cream);
  font-size: 20px;
  width: 170px;
  height: 140px;
  border-bottom: solid 1px transparent;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navbar-light .navbar-nav .nav-link p {
  transition: .2s;
}

.navbar-light .navbar-nav .nav-link.logo {
  width: 300px;
}

.navbar-light .navbar-nav .nav-link.link-to-page.active {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-light .navbar-nav .nav-link.link-to-page p, .navbar-light .navbar-nav .nav-link.link-to-page p {
  border-bottom: solid 1px transparent;
}

.navbar-light .navbar-nav .nav-link.active p {
  color: var(--cream);
  border-bottom: solid 1px var(--cream);
}

.navbar-light .navbar-nav .nav-link:focus {
  color: var(--cream);
}

.navbar-light .navbar-nav .nav-link.logo:hover p, .navbar-light .navbar-nav .nav-link.logo.active p {
  border-bottom: none;
}

.navbar-light .navbar-nav .nav-link.logo .line-1 {
  font-size: 40px;
  margin-bottom: 0px;
  line-height: 1.5;
}

.navbar-light .navbar-nav .nav-link.logo .line-2 {
  font-size: 22px;
  line-height: 1.5;
}

.navbar-light .navbar-toggler {
  color: var(--cream);
  border-color: var(--cream);
}

.navbar-light .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(224,220,195,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler:focus {
  outline: none;
}

.navbar-light .navbar-nav .nav-link.link-to-page {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (hover: hover) {
  .navbar-light .navbar-nav .nav-link:hover p {
    color: var(--cream);
    border-bottom: solid 1px var(--cream);
  }
}

@media all and (max-width: 991px) {
  .navbar-nav {
    margin-top: 12px;
  }

  .navbar-light .navbar-nav .nav-link {
    width: 100px;
    height: 40px;
    justify-content: flex-start;
  }

  .navbar-light .navbar-nav .nav-link p {
    margin-bottom: 0px;
  }
}


/*************** HOME PAGE **************/

.home {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -1;
}

.home img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
  object-position: 100% 50%;
}

.home h1 {
  font-size: 72px;
  margin-bottom: 12px;
}

.home h2 {
  font-size: 40px;
  margin-bottom: 45px;
}

@media all and (max-width: 991px) {
  .home h1 {
    font-size: 64px;
  }
  
  .home h2 {
    font-size: 35px;
  }
}


/*************** ABOUT PAGE **************/

.about {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.about p {
  text-align: left;
  margin-bottom: 25px;
}

.about img {
  width: 400px;
  float: left;
  margin-right: 50px;
  margin-bottom: 40px;
}



/*************** GALLERIES PAGE **************/

.galleries .grid {
  margin: 0 auto;
}

.galleries .grid a {
  width: 300px;
  margin: 20px;
  border: solid 1px var(--cream);
  position: relative;
}

.galleries .category-photo {
  width: 100%;
  opacity: 0.5;
}

.galleries .category-name {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cream);
  padding: 25px;
}


@media (hover: hover) {
  .galleries .category-name {
    transition: .2s;
    opacity: 0;
  }

  .galleries .grid a:hover > .category-name {
    opacity: 1;
  }

  .galleries .category-photo {
    transition: .2s;
    opacity: 1;
  }

  .galleries .grid a:hover > .category-photo {
    opacity: 0.5;
  }
}



/*************** GALLERY PAGE **************/

.gallery h1 {
  margin-bottom: 60px;
  margin-top: -20px;
}

.gallery .main-photo-container {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery .main-photo {
  margin-right: 25px;
  height: 400px;
  width: 450px;
  margin-bottom: 25px;
}

.gallery .main-photo img {
  outline: solid 1px var(--cream);
  width: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.gallery .main-photo-details {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  text-align: left;
  width: 350px;
}

.gallery .photo-description {
  height: 305px;
  overflow-y: scroll;
}

.gallery .photo-arrow.disabled {
  opacity: 0.4;
}

.gallery .main-photo-details h2 {
  margin-bottom: 15px;
}

.gallery .grid {
  margin: 0 auto;
}

.gallery .photo-index {
  margin-left: 10px;
  margin-right: 10px;
}

.gallery .grid div {
  width: 200px;
  margin: 15px;
  border: solid 1px var(--cream);
}

.gallery img {
  width: 100%;
}

@media (hover: hover) {
  .gallery .photo-arrow:hover {
    cursor: pointer;
  }

  .gallery .photo-arrow.disabled:hover {
    cursor: default;
  }

  .gallery .grid div:hover {
    cursor: pointer;
  }
}



/*************** CONTACT PAGE **************/

.contact {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.contact input, .contact textarea {
  background-color: var(--cream);
}

.contact .form-control:focus {
  background-color: var(--light-cream);
  border: none;
}
